:root {
  --asset-max-inline-size: none;
}

.cmp-image .cmp-image__image {
  inline-size: auto;
}

.cmp-image .cmp-asset {
  display: block;
  inline-size: 100%;
  max-inline-size: var(--asset-max-inline-size);
  block-size: auto;
  object-fit: cover;
}
