.cmp-button {
  display: inline-block;
  padding-block: 8px;
  padding-inline: 16px;
  font-size: 12px;
  font-weight: bold;
  color: #7b7b7b;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: 2px solid #7b7b7b;
  border-radius: 4px;
}

.cmp-button:hover {
  color: #222;
  border-color: #222;
}

.cmp-button__text {
  display: inline-block;
  line-height: 1.5;
  vertical-align: top;
}
