.cmp-teaser {
  display: block;
  inline-size: 100%;
  overflow: hidden;
  color: #555;
  background-color: #f5f5f5;
}

.cmp-teaser--with-image > section,
.cmp-teaser__link {
  display: grid;
  grid-template-columns: 1fr;
}

.cmp-teaser__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-inline-size: 240px;
  min-block-size: 160px;
  padding-block: 16px;
  padding-inline: 16px;
}

.cmp-teaser--with-image .cmp-teaser__content {
  z-index: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  min-inline-size: auto;
  min-block-size: auto;
  background-color: rgb(115 115 115 / 60%);
}

.cmp-teaser__description > p {
  font-size: 13px;
  line-height: 1;
}

.cmp-teaser__title-text {
  margin-block: 0;
  margin-inline: 0;
  font-size: 20px;
  line-height: 1.5;
}

.cmp-teaser--with-image .cmp-teaser__title-text {
  color: #f5f5f5;
}

.cmp-teaser__title-link {
  text-decoration: none;
}

.cmp-teaser__description *:last-child {
  margin-block-end: 0;
}

.cmp-teaser--with-image .cmp-teaser__description > p {
  color: #f5f5f5;
}

.cmp-teaser__image {
  grid-row-start: 1;
  grid-column-start: 1;
}

.cmp-teaser__image .cmp-image__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.cmp-teaser--with-image .cmp-teaser__title-link,
.cmp-teaser--with-image .cmp-teaser__title-link.cmp-link--active {
  color: #fff;
}

.cmp-teaser--with-image .cmp-teaser__title-link:hover {
  color: #eee;
}

.cmp-teaser__action-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  margin-block-start: 16px;
}

@media only screen and (min-width: 480px) {
  .cmp-teaser__content {
    padding-block: 32px;
    padding-inline: 32px;
    font-size: 14px;
  }

  .cmp-teaser__description > p {
    font-size: 14px;
  }

  .cmp-teaser__title-text {
    font-size: 30px;
  }
}
