:root {
  --color-indigo-grey: #254353;
  --color-silver-grey: #76797a;
  --size-1x: 8px;
  --size-2x: calc(var(--size-1x) * 2);
}

.cmp-breadcrumb {
  display: inline-block;
  padding-block: var(--size-2x);
  font-size: 16px;
  color: var(--color-silver-grey);
  list-style: none;
}

.cmp-breadcrumb__list {
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
}

.cmp-breadcrumb__item {
  display: inline-block;
  padding-inline-end: var(--size-2x);
  vertical-align: top;
}

.cmp-breadcrumb__item + .cmp-breadcrumb__item::before {
  display: inline-block;
  block-size: 12px;
  margin-block: 0;
  margin-inline: 0 var(--size-2x);
  content: ">";
}

.cmp-breadcrumb__item-link {
  color: inherit;
}

.cmp-breadcrumb__item--active [aria-current="page"] {
  font-weight: 700;
  color: var(--color-indigo-grey);
}
